<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/Styles/JobPortal.css">
    <link rel="stylesheet" type="text/css" href="~/Styles/SubJobPortalPage.css" />
    <link href="~/Styles/Home.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@   
    <script src="~/Scripts/CustomScript.js"></script>
    @*<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>*@
</head>
<body>
    <header>
        <div class="header" align="center">

            <h2>@Html.ActionLink("Future Feature JobPortal", "Home", "Common")</h2>
        </div>
    </header>
    <div align="right" class="topnav">
        @Html.ActionLink("Contact", "Contact", "Common")
        @Html.ActionLink("Help", "Help", "Common")

        @if (HttpContext.Current.User.Identity.IsAuthenticated)
        {
            @Html.ActionLink("Logout", "LogOff", "Account", "", new { })
        }
        else
        {
            @Html.ActionLink("Login", "LogIn", "Account", "", new { onclick = "document.getElementById('id01').style.display='block'" })
            @Html.ActionLink("Register", "SignUp", "Account")
        }
        @if (HttpContext.Current.User.IsInRole("Admin"))
        {
            @Html.ActionLink("Display Details", "Display", "Account")

            @Html.ActionLink("Manage JobTypes", "JobTypes", "Job")
            @Html.ActionLink("Manage Location", "Location", "Job")
            @Html.ActionLink("Manage Vacancy", "RecruiterVacancyDetails", "Job")
            @Html.ActionLink("Manage Applications", "SearcherJobDetails", "Job")
            @Html.ActionLink("Manage Cgpa", "Cgpa", "Job")
            @Html.ActionLink("Home", "AdminDisplay", "Account")

        }
        @if (HttpContext.Current.User.IsInRole("Searcher"))
        {
            @Html.ActionLink("Extra curricular", "SearcherSkillDetails", "Job")
            @Html.ActionLink("Apply job", "CandidateJobDetails", "Job")
            @Html.ActionLink("Applied job", "DisplayCandidateDetails", "Job")
            @Html.ActionLink("Attach Resume", "UploadResume", "Job")
            @Html.ActionLink("Your Profile", "DisplayDetail", "Account")
            @Html.ActionLink("Work Experience", "DisplayWorkExperience", "Job")
            @Html.ActionLink("Notification", "MatchedVacancy", "Job")
            @Html.ActionLink("Home", "Searcher", "Job")

        }
        @if (HttpContext.Current.User.IsInRole("Recruiter"))
        {
            @Html.ActionLink("Current Status", "ProfileDetails", "Job")
            @Html.ActionLink("New vacancy", "RecruiterJobDetails", "Job")
            @Html.ActionLink("Posted vacancy", "DisplayJobVacancy", "Job")
            @Html.ActionLink("Edit Profile", "DisplayDetail", "Account")
            @Html.ActionLink("Home", "Recruiter", "Job")
        }
    </div>
    @RenderBody()

    <footer>
        <div class="footer">
            <h2>&copy;FutureFeature</h2>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/fontawesome")    
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
