@model JobPortal.Entity.AccountDetails

@{
    ViewBag.Title = "DisplayDetail";
}
<div class="CenterContent">
    <h2 class="heading">Hi... Here is your profile details</h2>

    <table border="0">
        <col style="width:20%" />
        <col style="width:50%" />
        <tr>
            <td>
                @Html.LabelFor(model => model.FirstName)
            </td>
            <td>
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "textbox",@readonly="readonly" } } )
            </td>
        </tr>
        <tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.LastName)
            </td>
            <td>
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "textbox", @readonly = "readonly" } })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Address)
            </td>
            <td>
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "textbox", @readonly = "readonly" } })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(model => model.PhoneNumber)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Gender)
            </td>
            <td>
                @Html.DisplayFor(model => model.Gender)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(model => model.DateOfBirth)
            </td>




        </tr>

    </table>
</div>