@model OnlineJobPortal.Models.AccountViewModel

@{
    ViewBag.Title = "Edit";
}


@using (Html.BeginForm("Edit", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.AccountId)
    @Html.HiddenFor(model => model.Email)
    @Html.HiddenFor(model => model.Role)
    @Html.HiddenFor(model => model.Password)

    <div class="CenterContent">
        <h2 class="heading">Edit Profile</h2>
        <table>
            <col style="width:20%" />
            <col style="width:50%" />
            <tr>
                <td>
                    @Html.LabelFor(model => model.FirstName)
                </td>
                <td>
                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @maxlength = "30", autocomplete = "off", @class = "textbox" } })
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "ErrorMessage" })
                </td>
            </tr>
            <tr>
                <td>

                    @Html.LabelFor(model => model.LastName)
                </td>
                <td>
                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @maxlength = "30", autocomplete = "off", @class = "textbox" } })
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "ErrorMessage" })
                </td>
            </tr>
            <tr>
                <td>

                    @Html.LabelFor(model => model.Address)
                </td>
                <td>
                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @maxlength = "30", autocomplete = "off", @class = "textbox" } })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "ErrorMessage" })
                </td>
            </tr>
            <tr>

                <td>

                    @Html.LabelFor(model => model.PhoneNumber)
                </td>
                <td>
                    @Html.EditorFor(model => model.PhoneNumber)
                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "ErrorMessage" })
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(model => model.Gender)
                </td>
                <td>
                    @Html.RadioButtonFor(model => model.Gender, "Male")
                    Male
                    @Html.RadioButtonFor(model => model.Gender, "Female")
                    Female
                    @Html.RadioButtonFor(model => model.Gender, "Other")
                    Other
                    &nbsp; &nbsp; &nbsp;
                    @Html.ValidationMessageFor(model => model.Gender, "", new { @style = "Color:red" })
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(model => model.DateofBirth)
                </td>
                <td>
                    @Html.EditorFor(model => model.DateofBirth)
                    @Html.ValidationMessageFor(model => model.DateofBirth, "", new { @class = "ErrorMessage" })
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Update" class="btn btn-primary" />
                </td>
                <td>
                    @Html.ActionLink("Cancel", "DisplayDetail", "Account", new { @class = "btn btn-primary" })
                </td>
            </tr>
            <tr>
                
                <td class="heading">
                    You can also check
                </td>
            </tr>
            <tr>
                <td>
                @if (Model.Role == "Searcher")
                {
                    @Html.ActionLink("Extra curricular", "SearcherSkillDetails", "Job")
                }
                else if (Model.Role == "Recruiter")
                {
                    @Html.ActionLink("Working In", "ProfileDetails", "Job")
                }
                </td>
            </tr>
        </table>
    </div>
}