@model OnlineJobPortal.Models.AccountViewModel

@{
    ViewBag.Title = "Edit";
}


@using (Html.BeginForm("Edit", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.AccountId)
    @Html.HiddenFor(model => model.Email)
    @Html.HiddenFor(model => model.Role)
    @Html.HiddenFor(model => model.Password)

    <div class="CenterContent">
        <h2 class="heading">Edit Profile</h2>
        <table>
            <tr>
                <td>
                    @Html.LabelFor(model => model.FirstName)
                </td>
                <td>
                    @Html.EditorFor(model => model.FirstName)
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "ErrorMessage" })
                </td>
            </tr>
            <tr>
                <td>

                    @Html.LabelFor(model => model.LastName)
                </td>
                <td>
                    @Html.EditorFor(model => model.LastName)
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "ErrorMessage" })
                </td>
            </tr>
            <tr>
                <td>

                    @Html.LabelFor(model => model.Address)
                </td>
                <td>
                    @Html.EditorFor(model => model.Address)
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "ErrorMessage" })
                </td>
            </tr>
            <tr>

                <td>

                    @Html.LabelFor(model => model.PhoneNumber)
                </td>
                <td>
                    @Html.EditorFor(model => model.PhoneNumber)
                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "ErrorMessage" })
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(model => model.Gender)
                </td>
                <td>
                    @Html.RadioButtonFor(model => model.Gender, "Male")
                    Male
                    @Html.RadioButtonFor(model => model.Gender, "Female")
                    Female
                    @Html.RadioButtonFor(model => model.Gender, "Other")
                    Other
                    &nbsp; &nbsp; &nbsp;
                    @Html.ValidationMessageFor(model => model.Gender, "", new { @style = "Color:red" })
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(model => model.DateofBirth)
                </td>
                <td>
                    @Html.EditorFor(model => model.DateofBirth)
                    @Html.ValidationMessageFor(model => model.DateofBirth, "", new { @class = "ErrorMessage" })
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Update" class="button" />
                </td>
                <td>
                    @Html.ActionLink("Cancel", "DisplayDetail", "Account", htmlAttributes: new { @class = "ActionLink" })
                </td>

            </tr>
        </table>
    </div>
}