@model JobPortal.Entity.AccountDetails

@{
    ViewBag.Title = "LogIn";

}

<h2>Log In</h2>


@using (Html.BeginForm("LogIn", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
<table>

    <tr>
        <td>
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
        </td>

        <td>
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
        </td>

        <td>
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
        </td>
    </tr>
    <tr>
        <td>
            <input type="submit" value="Log In" class="btn btn-default" />
        </td>

        <td>
            @Html.ActionLink("Create Account", "SignUp", "Account")
        </td>
    </tr>

</table>

}