@model JobPortal.Entity.SearcherJobDetails

@{
    ViewBag.Title = "DisplayJobVacancy";
}

<h2 class="heading">Already entered vacancy Details</h2>


<table border="1" class="tableborder">
    <tr>
        <th>
            Company Name
        </th>
        <th>
            Graduation
        </th>
        <th>
            Location
        </th>
        <th>
            Salary
        </th>
        <th>
            Work Experience
        </th>

    </tr>
    @foreach (JobPortal.Entity.SearcherJobDetails item in (List<JobPortal.Entity.SearcherJobDetails>)ViewData["SearcherJob"])
    {
        <tr>
            <td>
                @item.Cgpa
            </td>
            
            <td>
                @item.Department
            </td>
            <td>
                @item.Domain
            </td>

            <td>
                @item.WorkExperience
            </td>
            <td>
                @item.graduation
            </td>
            <td>
                @item.Jobtype
            </td>
            <td>
                @item.location
            </td>

        </tr>

    }
</table>



