@model JobPortal.Entity.SearcherSkillSets

@{
    ViewBag.Title = "DisplaySkills";

}
<div class="CenterContent">
<h2>Display Skills</h2>

<table>
    <col style="width:20%" />
    <col style="width:100%" />
    <tr>
        <td>
            @Html.LabelFor(model => model.Achievements)
        </td>
        <td>
            @Html.EditorFor(model => model.Achievements, new { htmlAttributes = new { @class = "textbox" } })

        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(model => model.Certifications)
        </td>
        <td>
            @Html.EditorFor(model => model.Certifications, new { htmlAttributes = new { @class = "textbox" } })

        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(model => model.Language)
        </td>
        <td>
            @Html.EditorFor(model => model.Language, new { htmlAttributes = new { @class = "textbox" } })

        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(model => model.SoftwareSkills)
        </td>
        <td>
            @Html.EditorFor(model => model.SoftwareSkills, new { htmlAttributes = new { @class = "textbox" } })

        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(model => model.Sports)
        </td>
        <td>
            @Html.EditorFor(model => model.Sports, new { htmlAttributes = new { @class = "textbox" } })

        </td>
    </tr>
    @*<tr>

        <td>@Html.ActionLink("Edit Skill", "EditSkill", new { id = Model.SkillId })</td>

    </tr>*@
</table>
    </div>






