@model OnlineJobPortal.Models.LocationViewModel

@{
    ViewBag.Title = "EditLocation";

}
<div class="CenterContent">
    <h2 class="heading">Edit Location</h2>

    @using (Html.BeginForm("EditLocation", "Job", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.LocationId)
        <table>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "control-label col-md-2" })
                </td>
                <td>
                    @Html.EditorFor(model => model.Location)
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Update" class="btn btn-primary" />
                </td>
                <td>
                    @Html.ActionLink("Cancel", "Location", "Job", new { @class = "btn btn-primary" })
                </td>

            </tr>
        </table>
    }
</div>
