@model OnlineJobPortal.Models.JobTypeViewModel

@{
    ViewBag.Title = "EditJobType";

}
<div class="CenterContent">
    <h2 class="heading">Edit JobType</h2>

    @using (Html.BeginForm("EditJobType", "Job", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.JobTypeId)
        <table>
            <tr>
                <td>
                    @Html.LabelFor(model => model.JobType)
                </td>
                <td>
                    @Html.EditorFor(model => model.JobType)
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Update" class="btn btn-primary" />
                </td>
                <td>
                    @Html.ActionLink("Cancel", "JobTypes", "Job", new { @class = "btn btn-primary" })
                </td>

            </tr>
        </table>
    }
</div>