@model OnlineJobPortal.Models.CgpaViewModel

@{
    ViewBag.Title = "EditCgpa";
}

<h2 class="heading">EditCgpa</h2>


@using (Html.BeginForm("EditJobType", "Job", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.CgpaId)
    <table>
        <tr>
            <td>
                @Html.LabelFor(model => model.CGPA)
            </td>
            <td>
                @Html.EditorFor(model => model.CGPA)
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Update" class="button" />
            </td>
            <td>
                @Html.ActionLink("Cancel", "Cgpa", "Job")
            </td>

        </tr>
    </table>
}
