@model OnlineJobPortal.Models.VacancyMatchingViewModel

@{
    ViewBag.Title = "Message_Recruiter";
}
<div class="CenterContent">
    <h2 class="heading">Message</h2>
    <table class="tableborder">
        @using (Html.BeginForm("Message_Recruiter", "Job", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Recruiter_AccountId)
            @Html.HiddenFor(model => model.Searcher_AccountId)
            @Html.HiddenFor(model => model.ResumeId)
            @Html.HiddenFor(model => model.Recruiterid)
            @Html.HiddenFor(model => model.VacancyId)
            <tr>
                <td>
                    @Html.EditorFor(model => model.Message, new { htmlAttributes = new { @maxlength = "200" } })
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Update" class="btn btn-primary" />

                    @Html.ActionLink("Cancel", "Notification", "Job", new { @class = "btn btn-primary" })
                </td>
            </tr>
        }
    </table>
</div>