@model OnlineJobPortal.Models.RecruiterProfileViewModel

@{
    ViewBag.Title = "ProfileDetails";

}



@using (Html.BeginForm("ProfileDetails", "Job", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="CenterContent">
        <h2 class="heading">Profile</h2>
        <table align="center">
            <tr>

                <td>
                    @Html.LabelFor(model => model.WorkingCompany)
                </td>
                <td>
                    @Html.EditorFor(model => model.WorkingCompany)
                    @Html.ValidationMessageFor(model => model.WorkingCompany, "", new { @class = "ErrorMessage" })
                </td>
            </tr>

            <tr>

                <td>
                    @Html.LabelFor(model => model.WorkingLocation)
                </td>
                <td>
                    @Html.EditorFor(model => model.WorkingLocation)
                    @Html.ValidationMessageFor(model => model.WorkingLocation, "", new { @class = "ErrorMessage" })
                </td>
            </tr>
            <tr>

                <td>
                    @Html.LabelFor(model => model.Position)
                </td>
                <td>
                    @Html.EditorFor(model => model.Position)
                    @Html.ValidationMessageFor(model => model.Position, "", new { @class = "ErrorMessage" })
                </td>
            </tr>
            <tr>

                <td>
                    @Html.LabelFor(model => model.CompanyDescription)
                </td>
                <td>
                    @Html.TextAreaFor(model => model.CompanyDescription)
                    @Html.ValidationMessageFor(model => model.CompanyDescription, "", new { @class = "ErrorMessage" })
                </td>
            </tr>
            <tr>
                <td> <input type="submit" value="Submit" class="button" /></td>


            </tr>
        </table>
    </div>
}

