@model OnlineJobPortal.Models.SearcherSkillsViewModel

@{
    ViewBag.Title = "SearcherSkillDetails";

}



@using (Html.BeginForm("SearcherSkillDetails", "Job", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="CenterContent">

        <h2 class="heading">Skill Sets</h2>
        <table align="center">
            <col style="width:20%" />
            <col style="width:100%" />
            <tr>
                <td>
                    @Html.LabelFor(model => model.Achievements)
                </td>
                <td>
                    @Html.TextAreaFor(model => model.Achievements)
                    @Html.ValidationMessageFor(model => model.Achievements, "", new { @class = "ErrorMessage" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Certifications)
                </td>
                <td>
                    @Html.TextAreaFor(model => model.Certifications)

                    @Html.ValidationMessageFor(model => model.Certifications, "", new { @class = "ErrorMessage" })
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(model => model.SoftwareSkills)
                </td>
                <td>
                    @Html.TextAreaFor(model => model.SoftwareSkills)

                    @Html.ValidationMessageFor(model => model.SoftwareSkills, "", new { @class = "ErrorMessage" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Sports)
                </td>
                <td>
                    @Html.TextAreaFor(model => model.Sports)

                    @Html.ValidationMessageFor(model => model.Sports, "", new { @class = "ErrorMessage" })
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Submit Skills" class="button" />
                </td>
            </tr>
        </table>
    </div>
}



